.tooltip-box{
    font-family: Poppins;
    font-size: 15px;
    /* color: #ffffff !important; */
    /* background-color: #4FFBDF !important; */
    box-shadow: 0px 0px 10px 2px #6632a8;
    font-weight: bold;
}